<!doctype html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="utf-8">
<meta name="author"/>
<title>水务信息平台</title>

</head>
<br>
<div class="div_1">水务信息平台</div>

<body  class="in1">
<br><br><br><br>

<br>





<div class="wrapper" >
    <div>

     <a>设备状态</a>

    </div>

        <div>

    <a>环境状态</a>

    </div>

        <div>

    <a>水质状态</a>

    </div>

        <div>

     <a>安防状态</a>

    </div>



        <div>

     <a>自动控制</a>

    </div>

        <div>

    <a>手动设置</a>

    </div>










  </div>





<!--    <div id=y align="right" style="HEIGHT: 20px; text-line: 20px"></div>-->
<!--            <div id=w align="right" style="HEIGHT: 20px; text-line: 20px"></div>-->
<!--                    <div id=t align="right" style="HEIGHT: 20px; text-line: 20px"></div>-->








<script type="text/javascript" src="../static/js/script.js"></script>
<!--<script type="text/javascript" src="../static/js/p5.min.js"></script>-->

</body>


<!--    <script>-->


<!-- function GetTime() {-->
<!--        var date = new Date()&lt;!&ndash;获得日期数据&ndash;&gt;-->
<!--        var y = date.getFullYear();&lt;!&ndash;年&ndash;&gt;-->
<!--        var m = date.getMonth()+1;&lt;!&ndash;月，这里的月份必须要+1才是当前月份&ndash;&gt;-->
<!--        var d = date.getDate(); &lt;!&ndash;日，getDay是获得当前星期几（0-6），getDate是获得当前日期&ndash;&gt;-->
<!--        weekshow="星期"+"日一二三四五六".charAt(new Date().getDay());-->
<!--        var mytime=date.toLocaleTimeString('chinese', { hour12: false });-->
<!--        document.getElementById("y").innerHTML = y+"-"+m+"-"+d;-->
<!--        document.getElementById("w").innerHTML = weekshow;-->
<!--        document.getElementById("t").innerHTML = mytime;-->
<!-- }-->
<!--        setInterval(GetTime,1000);-->
<!-- </script>-->
</html>