<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
</head>

<style>



body {
     margin:0px;
          background-image:url(../static/images/bg6.jpg);
     background-repeat:no-repeat;


}

  .t{
    text-align: center;
    line-height: 90px;
    font-size: 40px;
<!--         align:"center";-->
         }

button{

  font-size:45px;
  border:none;
  background:#778899;

}
</style>

<body>


<h1 class="t">设置</h1>
<div align="center">

<!--    <button>语言设置</div>-->
<!--    <div >时间设置</div>-->
<!--    <div >查看内存</div>-->
<!--    <div >系统重启</div>-->
<!--    <div >清除缓存数据</div>-->

<button type="button" class="b1">语言设置</button>
    <br><br><br>
<button type="button" class="b2">时间设置</button> <br><br><br>
<button type="button" class="b3">查看内存</button> <br><br><br>
<button type="button" class="b4">系统重启</button> <br><br><br>
<button type="button" class="b5">清除缓存数据</button> <br><br><br>
<button onclick="window.location.href='../SW/index'" type="button" class="b4">返回</button>

</div>

<br>
<br>
<br>
<br>
<br>




</body>
</html>